<div class="top-bar topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item half left">
    </div>
    <div class="topcoat-navigation-bar__item half right">
        <button class="topcoat-button logout">Log out</button>
    </div>
</div>

<div id="container" class="main">

    <div class="bottom-bar topcoat-tab-bar extra-margin--top">
        <div class="topcoat-tab-bar__item">
            <button class="topcoat-tab-bar__button switch-to active">
                Preamble
            </button>
        </div>
        <div class="topcoat-tab-bar__item">
            <button class="topcoat-tab-bar__button switch-to">
                Notes
            </button>
        </div>
    </div>

    <div id="inner" class="main">

    </div>
</div>

