<div class="top-bar topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item half left">
        <button class="topcoat-button go-back"><i class="fa fa-arrow-left"></i></button>
        <button class="topcoat-button go-forward"><i class="fa fa-arrow-right"></i></button>
    </div>
    <div class="topcoat-navigation-bar__item half right">
        <button class="topcoat-button logout">Log out</button>
    </div>
</div>

<div id="container" class="main">
    <div class="bottom-bar topcoat-tab-bar">
        <div class="topcoat-tab-bar__item">
            <button class="topcoat-tab-bar__button switch-to active">
                Information
            </button>
        </div>
        <div class="topcoat-tab-bar__item">
            <button class="topcoat-tab-bar__button switch-to">
                Notes
            </button>
        </div>
    </div>
    <div id="inner" class="main">

    </div>
</div>