<div class="content">
    <div class="center">
        <button class="topcoat-button&#45;&#45;cta popup-show">Add note</button>
    </div>
</div>
<div>
    <form class="topcoat-list todo-list" action="#">

        <h3 class="topcoat-list__header" data-template="true">Todo List (<%= model.length %>):</h3>

        <div class="topcoat-list__container scroll-view">
            <div class="scroll-view-body">

                <ul data-template="true">
                    <% _.each(model, function(task, index) { %>
                    <li class="topcoat-list__item  <%= task.done ? 'done' : '' %>">
                        <span class="label"><%= task.content %></span>
                        <span class="remove-icon" data-index="<%= index %>">
                            <i class="fa fa-minus-square-o" ></i>
                        </span>
                    </li>
                    <% }); %>
                    <li class="topcoat-list__item  ">
                        <span class="label">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent volutpat nunc eu volutpat placerat. Suspendisse ultrices justo sit amet mauris vestibulum sollicitudin. Nunc sed semper erat. Quisque elit tortor, eleifend sed elementum vitae, iaculis in lorem. Suspendisse sit amet pretium augue. Praesent in augue a sapien venenatis tempor. Ut turpis nibh, suscipit sit amet dolor ac, commodo molestie dolor. Nam magna nibh, consectetur ac suscipit eu, consequat eu arcu. Integer et felis ut augue elementum tincidunt. Etiam arcu magna, laoreet eu facilisis in, posuere vehicula ex. Aenean condimentum purus quis arcu mollis convallis. Vivamus tristique sollicitudin consectetur. Donec quis pharetra neque, in ullamcorper enim. Donec a tellus quam. Donec tristique nulla eget ante sodales elementum.</span>
                        <span class="remove-icon" data-index="0">
                            <i class="fa fa-minus-square-o"></i>
                        </span>
                    </li>
                    <li class="topcoat-list__item  ">
                        <span class="label">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent volutpat nunc eu volutpat placerat. Suspendisse ultrices justo sit amet mauris vestibulum sollicitudin. Nunc sed semper erat. Quisque elit tortor, eleifend sed elementum vitae, iaculis in lorem. Suspendisse sit amet pretium augue. Praesent in augue a sapien venenatis tempor. Ut turpis nibh, suscipit sit amet dolor ac, commodo molestie dolor. Nam magna nibh, consectetur ac suscipit eu, consequat eu arcu. Integer et felis ut augue elementum tincidunt. Etiam arcu magna, laoreet eu facilisis in, posuere vehicula ex. Aenean condimentum purus quis arcu mollis convallis. Vivamus tristique sollicitudin consectetur. Donec quis pharetra neque, in ullamcorper enim. Donec a tellus quam. Donec tristique nulla eget ante sodales elementum.</span>
                        <span class="remove-icon" data-index="0">
                            <i class="fa fa-minus-square-o"></i>
                        </span>
                    </li>
                    <li class="topcoat-list__item  ">
                        <span class="label">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent volutpat nunc eu volutpat placerat. Suspendisse ultrices justo sit amet mauris vestibulum sollicitudin. Nunc sed semper erat. Quisque elit tortor, eleifend sed elementum vitae, iaculis in lorem. Suspendisse sit amet pretium augue. Praesent in augue a sapien venenatis tempor. Ut turpis nibh, suscipit sit amet dolor ac, commodo molestie dolor. Nam magna nibh, consectetur ac suscipit eu, consequat eu arcu. Integer et felis ut augue elementum tincidunt. Etiam arcu magna, laoreet eu facilisis in, posuere vehicula ex. Aenean condimentum purus quis arcu mollis convallis. Vivamus tristique sollicitudin consectetur. Donec quis pharetra neque, in ullamcorper enim. Donec a tellus quam. Donec tristique nulla eget ante sodales elementum.</span>
                        <span class="remove-icon" data-index="0">
                            <i class="fa fa-minus-square-o"></i>
                        </span>
                    </li>
                </ul>

            </div>
        </div>
    </form>
</div>