<div class="popup-view-holder ">
    <!--<div class="scroll-view-body">-->
        <textarea id="content" rows="10" cols="50">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a venenatis felis, vitae pellentesque magna. Vivamus gravida, purus id bibendum facilisis, diam nisi pellentesque diam, id elementum purus diam id dui. Duis mauris libero, tristique id varius nec, tincidunt sit amet quam. Etiam mollis interdum augue, in imperdiet sem condimentum at. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean sit amet urna non augue dapibus finibus at eu tortor. Proin eu elementum augue, nec pretium tortor. Donec vel purus et tellus vulputate tempor. Fusce purus ex, euismod ac odio eu, dignissim imperdiet augue. Etiam ut dolor eget libero hendrerit hendrerit. In ut lectus vel tortor placerat blandit. Donec et metus sollicitudin, dapibus nunc rutrum, aliquam risus. Pellentesque scelerisque lacus eget sapien mattis, ac iaculis ipsum consectetur. Sed eget ultricies ligula. Aenean commodo mauris in elementum vulputate. Nulla facilisi.
        </textarea>
        <button class="close-dialog topcoat-button--cta extra-margin--top-bottom full">Add</button>
    <!--</div>-->
</div>