<div class="top-bar topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item full center">
        Sign in
    </div>
</div>
<div>
<div class="topcoat-list__header center">Input your data</div>
    <form class="extra-margin--top">
        <ul class="topcoat-list__container">
            <li class="topcoat-list__item">
                <label>Name: <input id="userName" type="text"></label>
            </li>
            <li class="topcoat-list__item">
                <div>Gender:</div>
                <label class="topcoat-radio-button third">
                    Male <input type="radio" name="gender" value="male">
                    <div class="topcoat-radio-button__checkmark"></div>
                </label>
                <label class="topcoat-radio-button third">
                    Female <input type="radio" name="gender" value="female">
                    <div class="topcoat-radio-button__checkmark"></div>
                </label>
            </li>
            <li class="topcoat-list__item">
                <label class="topcoat-checkbox third">
                    <input type="checkbox" id="agree" value="true">
                    <div class="topcoat-checkbox__checkmark"></div>
                    I agree with rules
                </label>
            </li>
        </ul>
    </form>

    <div class="extra-margin left">
        <button id="enter" class="topcoat-button--cta">Sign in</button>
    </div>

</div>
